/* General Styles */
html,
body {
  overflow-x: hidden;
}

button:hover,
.footer-link:hover,
.footer-link-media:hover {
  cursor: pointer;
  color: rgb(225, 186, 87);
  font-weight: bolder;
}

/* Header Section */
#cabecera {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #282c34;
  margin-top: 14px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#tituloPag {
  color: aliceblue;
  font-size: 2.2em;
  letter-spacing: 0.5em;
  margin: 5px;
}

/* Logo Section */
.logo {
  justify-content: center;
  background: url("./recursos/Main_BannerLogo.png") center/cover no-repeat;
  transform: scale(1.1);
  height: 320px;
}

/* Button Section */
.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(185, 184, 117, 0.8);
  gap: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.botones button {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
}

.botones button:hover {
  background-color: #950000;
}

/* Footer Section */
#footer-area {
  width: 100vw;
  height: 15vh;
  background-color: black;
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  color: lightgoldenrodyellow;
}

.footer-link {
  font-size: 2em;
  font-weight: bold;
}

#foot-socmed-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20%;
}

#foot-socmed-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

#foot-media-link-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-link-media {
  font-size: 1em;
  font-weight: bold;
}

/* Main Content Section */
#return {
  background: url("./recursos/trivia-background.jpg") center/cover no-repeat;
  min-height: 100vh;
}

#main-paginas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(185, 184, 117, 0.8);
  margin-top: 14px;
  border: 2px solid #61dafb;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 30px;
}

/* Featured News Section */
#noticias-destacadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #282c34;
  margin-top: -150px;
}

#main-noticiaDestacada1,
#main-noticiaDestacada2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  transform: scale(0.7);
  height: 55pc;
  font-size: 2em;
  color: white;
  width: 50%;
  margin-top: 100px;
}

#main-noticiaDestacada1 {
  background-image: url("./recursos/barracuda.jpg");
}

#main-noticiaDestacada2 {
  background-image: url("./recursos/serie5000.jpg");
}

/* Recent News Section */
#noticias-recientes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eed47b;
}

#noticias-recientes .tarjeta {
  flex: 1 1 calc(33.333% - 20px);
  margin: 10px;
}

#main-noticiaReciente1,
#main-noticiaReciente2,
#main-noticiaReciente3,
#main-noticiaReciente4,
#main-noticiaReciente5,
#main-noticiaReciente6,
#main-noticiaReciente7,
#main-noticiaReciente8,
#main-noticiaReciente9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  transform: scale(0.7);
  height: 50pc;
  font-size: 2em;
  color: white;
  width: 30%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px 20px 150px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333;
}

#main-noticiaReciente1 {
  background-image: url("./recursos/main-bo66.jpg");
}

#main-noticiaReciente2 {
  background-image: url("./recursos/steam-dek.jpeg");
}

#main-noticiaReciente3 {
  background-image: url("./recursos/sc.jpeg");
}

#main-noticiaReciente4 {
  background-image: url("./recursos/eldeeenriiiin.jpeg");
}

#main-noticiaReciente5 {
  background-image: url("./recursos/voldemort.jpg");
}

#main-noticiaReciente6 {
  background-image: url("./recursos/stalker.jpg");
}

#main-noticiaReciente7,
#main-noticiaReciente8,
#main-noticiaReciente9 {
  background-image: url("./recursos/default-image.jpg");
}
